{
  "openapi": "3.0.0",
  "tags": [
    {
      "name": "Genel Bakış"
    },
    {
      "name": "Barkodlu Belge İşlemleri",
      "description": "Barkodlu belge oluşturmak için gerekli metotlar"
    },
    {
      "name": "Üye İşlemleri"
    }
  ],
  "info": {
    "title": "TİM Online İşlemler - Entegrasyon API",
    "version": "1.0",
    "description": "TİM Online İşlemler üzerinden sağlanan hizmetlerden diğer kurumların yazılım altyapıları ile entegrasyon sağlamak için kullanılan API metotları ve bu metotların nasıl kullanıldığına dair bilgileri içermektedir.\n\nTest Sorgu Adresi\nhttps://staging-online.tim.org.tr/api/v1/external \n\nCanlı Sorgu Adresi\nhttps://online.tim.org.tr/api/v1/external/document/validate",
    "contact": {
      "name": "Performans Teknik Destek",
      "url": "https://www.performans.com",
      "email": "destek@performans.com"
    },
    "license": {
      "name": "GNU Public License"
    }
  },
  "servers": [
    {
      "url": "https://online.tim.org.tr/api/v1/external",
      "description": "Production"
    },
    {
      "url": "https://staging-online.tim.org.tr/api/v1/external",
      "description": "Test"
    }
  ],
  "paths": {
    "/company/memberships": {
      "post": {
        "summary": "Üyelik Sorgulama",
        "operationId": "post-company-memberships",
        "responses": {
          "200": {
            "description": "Başarılı işlem sonucu",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "succes": {
                      "type": "boolean",
                      "description": ""
                    },
                    "statusCode": {
                      "type": "number",
                      "description": "İşlem "
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "description": "Firmanın üyesi olduğu birlik ya da genel sekreterlik listesi",
                      "items": {
                        "$ref": "#/components/schemas/MembershipDescription"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "examples": {
                  "Örnek": {
                    "value": {
                      "succes": true,
                      "statusCode": 200,
                      "data": [
                        {
                          "registrationNumber": 1234,
                          "registrationDate": "2002-07-20T00:00:00",
                          "associationId": "700d5465-4b24-46a3-a5ce-dde7b43a1f8f",
                          "associationName": "Makine ve Aksamları İhracatçıları Birliği"
                        },
                        {
                          "registrationNumber": 1234,
                          "registrationDate": "2002-07-20T00:00:00",
                          "associationId": "700d5465-4b24-46a3-a5ce-dde7b43a1f8f",
                          "associationName": "Makine ve Aksamları İhracatçıları Birliği"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "taxNumber parametresinde sağlanan vergi/T.C kimlik numarası ile herhangi bir ihracatçı kaydı olmaması halinde dönen cevaptır",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek": {
                    "value": {
                      "succes": false,
                      "statusCode": 404,
                      "message": "Belirtilen vergi numarası ile bir ihracatçı kayıdı bulunmuyor"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "taxNumber parametresinde geçersiz bir vergi/T.C kimlik numarası sorgulanması halinde geri dönen cevaptır",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek": {
                    "value": {
                      "succes": false,
                      "statusCode": 422,
                      "message": "Geçersiz vergi ya da T.C. Kimlik numarası"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Bir ihracatçı firmanın üyesi olduğu İhracatçı Birliklerinin ya da Genel Sekreterliklerin listesini almak için kullanılan API metodudur. \n\nBu metot fakrlı üyelik bilgilerini sorgulamakta kullanılabilmektedir. Request Body altında yer alan örneklerden sorgu tipleri örneklerini bulabilirsiniz.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "taxNumber": {
                    "type": "string",
                    "example": "1234567891",
                    "minLength": 10,
                    "maxLength": 11,
                    "description": "Üyelik bilgisi sorgulanacak firmanın vergi numarası"
                  },
                  "gs": {
                    "type": "boolean",
                    "description": "İşlem sonucunda firmanın üyesi olduğu birlikler yerine birliklerin bağlı olduğu genel sekreterlik listesini almak için kullanılıkr. Sorguda bu parametre true olacak şekilde gönderildiğinde sonuç listesinde birlikler yerine genel sekreterlikler gösterilecektir"
                  },
                  "forDocs": {
                    "type": "boolean",
                    "description": "Sorgu sonucunda sadece firmanın belge alabileceği birlik üyeliklerini almak için kullanılır. Bu parametrenin true değerinde gönderilmesi halinde firmanın sadece Üyelik Belgesi, Üye Bilgi Yazısı vb. belgeleri alabileceği birliklerin listesi filitrelmiş oalrak geri dönecektir."
                  },
                  "requestedBy": {
                    "type": "string",
                    "description": "Sorguyu yapan kişinin T.C. Kimlik numarası"
                  }
                },
                "required": [
                  "taxNumber"
                ]
              },
              "examples": {
                "Tüm Birlik Üyelikleri": {
                  "value": {
                    "taxNumber": "1234567891",
                    "gs": false,
                    "forDocs": false,
                    "requestedBy": "12345678901"
                  }
                },
                "Üye Bilgi Yazısı Alınabilecek Birlikler": {
                  "value": {
                    "taxNumber": "1234567891",
                    "gs": false,
                    "forDocs": true,
                    "requestedBy": "12345678901"
                  }
                },
                "Performans ve Güvenilirlik Belgesi Alınabilecek Genel Sekreterlikler": {
                  "value": {
                    "taxNumber": "1234567891",
                    "gs": true,
                    "forDocs": true,
                    "requestedBy": "12345678901"
                  }
                }
              }
            }
          },
          "description": ""
        },
        "parameters": [],
        "tags": [
          "Üye İşlemleri"
        ]
      }
    },
    "/document/validate": {
      "post": {
        "summary": "Belge Doğrulama",
        "operationId": "post-document-validate",
        "responses": {
          "200": {
            "description": "Başarılı işlem sonucu",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DocumentModel"
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Bkz: ApiResult.success"
                    },
                    "statusCode": {
                      "type": "number",
                      "description": "Bkz: ApiResult.statusCode"
                    }
                  },
                  "required": [
                    "data",
                    "success",
                    "statusCode"
                  ]
                },
                "examples": {
                  "Örnek ": {
                    "value": {
                      "data": {
                        "id": "26902129-9267-4f4d-8b42-13a5e2599ed3",
                        "code": "TME01-1F03-43E4-4607",
                        "companyName": "AAA MAKİNA SAN. TİC. A. Ş. ",
                        "taxNumber": "1234567890",
                        "description": "Dönem: 01.11.2018 - 31.10.2020",
                        "documentTypeId": 5003,
                        "documentTypeText": "Performans ve Güvenilirlik Belgesi",
                        "documentBody": "JVBERi0xLjUNCiWDkvr+DQ.......UgL0NhdGFsb2cNCi9QYWdlcyAyI==",
                        "statusId": 5110,
                        "statusText": "Oluşturulmuş",
                        "associationId": "b56947b8-f54d-4e8c-94a5-c8d2265e3045",
                        "associationName": "İstanbul Maden ve Metaller İhracatçı Birlikleri Genel Sekreterliği",
                        "languageCode": "tr",
                        "languageName": "Türkçe",
                        "createdOn": "2020-11-09T05:58:27.8160316Z"
                      },
                      "success": true,
                      "statusCode": 0
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Belge bulunamadı. code parametresinde belirtilen belge kodu ile oluşturulmuş geçerli bir belge olmaması halinde geri dönen cevaptır",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek": {
                    "value": {
                      "succes": false,
                      "statusCode": 404,
                      "message": "Geçerli bir belge bulunamadı"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Belge kodu ile belgenin doğruluğunu sorgulamak için kullanılır. \n\nİstenirse **includeContent** parametresi true oalrak sorgulanır ise belge içeriği **base64** formatında **documentBody** parametresinden alınabilir",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "Sorgulanan belgenin numarası/ kodu"
                  },
                  "requestedBy": {
                    "type": "string",
                    "description": "Biliniyor ise sorguyu yapan kişinin T.C. Kimlik Numarası"
                  },
                  "includeContent": {
                    "type": "boolean",
                    "description": "Sorgu sonucunda belge içeriğini de amak için kullanılır. true değeri gönderilmesi halinde sorgu sonucunda belge içeriği base64 formatında documentBody parametresinde yer alacaktır"
                  }
                },
                "required": [
                  "code"
                ]
              },
              "examples": {
                "Örnek": {
                  "value": {
                    "code": "TME01-CEA8-F90C-4483",
                    "requestedBy": "12345678901"
                  }
                },
                "Örnek - Belge İçeriğini Alma": {
                  "value": {
                    "code": "TME01-CEA8-F90C-4484",
                    "requestedBy": "12345678901",
                    "includeContent": true
                  }
                }
              }
            }
          },
          "description": ""
        },
        "tags": [
          "Barkodlu Belge İşlemleri"
        ]
      }
    },
    "/company/debts": {
      "post": {
        "summary": "Üye Borç Sorgulama",
        "operationId": "post-company-debts",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "uniqueItems": false,
                      "items": {
                        "type": "object",
                        "properties": {
                          "associationName": {
                            "type": "string",
                            "description": "Borcun ait olduğu birlik adı"
                          },
                          "year": {
                            "type": "number",
                            "description": "Borcun ait olduğu yıl"
                          },
                          "debt": {
                            "type": "number",
                            "description": "Borç tutarı"
                          },
                          "dh": {
                            "type": "number",
                            "description": "Varsa ilgili borca ait gecikme zammı"
                          }
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "description": "İşlem sonucu "
                    }
                  },
                  "required": [
                    "success"
                  ]
                },
                "examples": {
                  "Örnek": {
                    "value": {
                      "data": [
                        {
                          "associationName": "Birlik Adı",
                          "year": 2010,
                          "debt": 100,
                          "dh": 1.78
                        }
                      ],
                      "success": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Belirtilen vergi numarası ile kayılı bir firma olmaması halinde geri döner"
          },
          "422": {
            "description": "Geçersiz vergi ya da T.C. Kimlik numarası"
          }
        },
        "description": "Bir firmanın İhracatçı birliklerine olan borçlarının sorgulanması için kullanılır. ",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaxNumberRequest"
              },
              "examples": {
                "Örnek": {
                  "value": {
                    "taxNumber": "1234567890",
                    "requestedBy": "1234567891"
                  }
                }
              }
            }
          },
          "description": ""
        },
        "tags": [
          "Üye İşlemleri"
        ]
      }
    },
    "/company/poa-list": {
      "post": {
        "summary": "Vekaletname Sorgulama",
        "operationId": "post-company-poa-list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "uniqueItems": false,
                      "description": "Vekaletname listesi",
                      "items": {
                        "type": "object",
                        "properties": {
                          "brokerName": {
                            "type": "string",
                            "description": "Gümrük müşaviri unvanı"
                          },
                          "brokerTaxNumber": {
                            "type": "string",
                            "description": "Gümrük müşaviri vergi no"
                          },
                          "expireDate": {
                            "type": "string",
                            "description": "Vekalet geçerlilik tarihi",
                            "format": "date"
                          },
                          "statusText": {
                            "type": "string",
                            "description": "Vekalet durumu"
                          }
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "description": "İşlem sonucu"
                    }
                  }
                },
                "examples": {
                  "Örnek": {
                    "value": {
                      "data": [
                        {
                          "brokerName": "ABC GUMRUK MUSAVIRLIGI A.S. ",
                          "brokerTaxNumber": "1234567890",
                          "expireDate": "2009-01-12T00:00:00",
                          "statusText": "Süresi Dolmuş"
                        },
                        {
                          "brokerName": "ABC GUMRUK MUSAVIRLIGI A.S. ",
                          "brokerTaxNumber": "1234567890",
                          "expireDate": "2014-12-26T00:00:00",
                          "statusText": "Süresi Dolmuş"
                        },
                        {
                          "brokerName": "ABC GÜMRÜK MÜŞAVİRLİĞİ VE LOJİSTİK HİZM.  LTD. ŞTİ.",
                          "brokerTaxNumber": "1234567891",
                          "expireDate": "2019-01-31T00:00:00",
                          "statusText": "Süresi Dolmuş"
                        },
                        {
                          "brokerName": "ABC GÜMRÜK MÜŞAVİRLİĞİ VE LOJİSTİK HİZM.  LTD. ŞTİ.",
                          "brokerTaxNumber": "1234567891",
                          "expireDate": "2022-01-31T00:00:00",
                          "statusText": "Geçerli"
                        },
                        {
                          "brokerName": "ABC GUMRUK MUSAVIRLIGI A.S. ",
                          "brokerTaxNumber": "1234567890",
                          "expireDate": "2099-12-31T00:00:00",
                          "statusText": "Geçerli"
                        }
                      ],
                      "success": true,
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "description": "İhracatçı birlikleri üyesi nir firmanın Gümrük Müşavirlerine verilmiş olan vekaletnamelerini sorulayan metottur",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaxNumberRequest"
              },
              "examples": {
                "Örnek": {
                  "value": {
                    "taxNumber": "1234567891",
                    "requestedBy": "12345678901"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Üye İşlemleri"
        ]
      }
    },
    "/document/info/membership-info": {
      "parameters": [],
      "post": {
        "summary": "Üye Bilgi Yazısı Sorgulama",
        "operationId": "post-document-info-membership-info",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "associationName",
                        "expireDate",
                        "language",
                        "registrationNumber",
                        "companyName",
                        "taxNumber"
                      ],
                      "properties": {
                        "associationName": {
                          "type": "string",
                          "minLength": 1
                        },
                        "expireDate": {
                          "type": "string",
                          "minLength": 1
                        },
                        "language": {
                          "type": "string",
                          "minLength": 1
                        },
                        "registrationNumber": {
                          "type": "integer"
                        },
                        "companyName": {
                          "type": "string",
                          "minLength": 1
                        },
                        "taxNumber": {
                          "type": "string",
                          "minLength": 1
                        }
                      }
                    },
                    "success": {
                      "type": "boolean"
                    },
                    "statusCode": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "data",
                    "success",
                    "statusCode"
                  ]
                },
                "examples": {
                  "Başarılı İşlem Sonucu": {
                    "value": {
                      "data": {
                        "associationName": "Makine ve Aksamları İhracatçıları Birliği ",
                        "expireDate": "2020-12-31T00:00:00",
                        "language": "TÜRKÇE",
                        "registrationNumber": 1234,
                        "companyName": "AAA MAKİNA SAN. TİC. A. Ş. ",
                        "taxNumber": "1234567890"
                      },
                      "success": true,
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMembershipInfoDocumentRequestModel"
              },
              "examples": {
                "Örnek": {
                  "value": {
                    "taxNumber": "1234567890",
                    "associationId": "700d5465-4b24-46a3-a5ce-dde7b43a1f8f",
                    "lang": "tr",
                    "requestedBy": "12345678901"
                  }
                }
              }
            }
          }
        },
        "description": "Bir firma adına **Üye Bilgi Yazısı** oluşturulmadan önce belge içeriğinde yer alacak değerleri görmek için kulanılır. \n\nBelgenin alınacağı birliğe ait **`id`** değeri **`associationId`** parametresinde gönderilir.  Parametre olarak gönderilen id değeri firmanın üyesi olduğu ve belge alabileceği bir biliğin id'si olmalıdır. \n\nFirmanın üyesi olduğu ve belge alma hakkı olan birliklerin listesi  **Üyelik Sorgulama**  **`/company/memberships`** metodundan alınarak bu listede yer alan bir birliğin **`id`** değeri bu metoda gönderilmelidir\n\n**Desteklenen Diller**\nBu metodun lang parametresinde gönderilebilecek diller aşağıdaki gibidir\n\n| DİL KODU       |ADI                            \n|----------------|-------------------------------\n|tr              |Türkçe            \n|ar              |Arapça            \n|de              |Almanca\n|en              |İngilizce\n|es              |İspanyolca\n|fr              |Fransızca\n|it              |İtayanca\n|ja              |Japonca\n|ru              |Rusça\n|zh              |Çince\n\n\n",
        "tags": [
          "Barkodlu Belge İşlemleri"
        ]
      }
    },
    "/document/create/membership-info": {
      "post": {
        "summary": "Üye Bilgi Yazısı Oluşturma",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMembershipInfoDocumentRequestModel"
              },
              "examples": {
                "Örnek": {
                  "value": {
                    "requestedBy": "stringstrin",
                    "taxNumber": "string",
                    "associationId": "string",
                    "lang": "tr"
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          },
          "description": ""
        },
        "description": "Belirli bir ihracatçı birliğinden belirli bir dilde **Üye Bilgi Yazısı** almak için kullanılır.\n\nBelgenin alınacağı birliğe ait **`id`** değeri **`associationId`** parametresinde gönderilir.  Parametre olarak gönderilen id değeri firmanın üyesi olduğu ve belge alabileceği bir biliğin id'si olmalıdır. \n\nFirmanın üyesi olduğu ve belge alma hakkı olan birliklerin listesi  **Üyelik Sorgulama**  **`/company/memberships`** metodundan alınarak bu listede yer alan bir birliğin **`id`** değeri bu metoda gönderilmelidir\n\n**Desteklenen Diller**\nBu metodun lang parametresinde gönderilebilecek diller aşağıdaki gibidir\n\n| DİL KODU       |ADI                            \n|----------------|-------------------------------\n|tr              |Türkçe            \n|ar              |Arapça            \n|de              |Almanca\n|en              |İngilizce\n|es              |İspanyolca\n|fr              |Fransızca\n|it              |İtayanca\n|ja              |Japonca\n|ru              |Rusça\n|zh              |Çince\n\n\n",
        "operationId": "post-document-create-membership-info",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentModel"
                },
                "examples": {}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "Barkodlu Belge İşlemleri"
        ]
      }
    },
    "/documents/membership-info": {
      "post": {
        "summary": "Üye Bilgi Yazısı Listesi",
        "operationId": "post-documents-membership-info",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "$ref": "#/components/schemas/DocumentModel"
                      }
                    },
                    "success": {
                      "type": "boolean"
                    },
                    "type": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "examples": {
                  "Başarılı işlem sonucu": {
                    "value": {
                      "data": [
                        {
                          "id": "f03b78ec-8fb0-494d-8020-a4ca5713f498",
                          "code": "TME01-D5EB-9FF7-4B82",
                          "companyName": "AAA MAKİNA SAN. TİC. A. Ş. ",
                          "taxNumber": "1234567890",
                          "description": "[EN] - Makine ve Aksamları İhracatçıları Birliği ",
                          "languageCode": "en",
                          "languageName": "English",
                          "documentTypeId": 5002,
                          "documentTypeText": "Üyelik Bilgi Yazısı",
                          "createdOn": "2020-11-07T13:27:17.1353638Z",
                          "expireDate": "2021-11-07T13:27:17.1353638Z",
                          "associationId": "b56947b8-f54d-4e8c-94a5-c8d2265e3045",
                          "associationName": "Makine ve Aksamları İhracatçıları Birliği",
                          "registrationNumber": 1234
                        },
                        {
                          "id": "69070b9f-a6fa-4895-b0a3-15bbffe63ae2",
                          "code": "TME01-9FEF-7266-4C1C",
                          "companyName": "AAA MAKİNA SAN. TİC. A. Ş. ",
                          "taxNumber": "1234567890",
                          "description": "[TR] - Makine ve Aksamları İhracatçıları Birliği ",
                          "languageCode": "tr",
                          "languageName": "Türkçe",
                          "documentTypeId": 5002,
                          "documentTypeText": "Üyelik Bilgi Yazısı",
                          "createdOn": "2020-11-07T13:24:10.3972334Z",
                          "expireDate": "2021-11-07T13:24:10.3972334Z",
                          "associationId": "b56947b8-f54d-4e8c-94a5-c8d2265e3045",
                          "associationName": "Makine ve Aksamları İhracatçıları Birliği",
                          "registrationNumber": 1234
                        }
                      ],
                      "success": true,
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "description": "Kullanıcı tarafından bir firma adına oluşturulan **Üye Bilgi Yazısı** listesini almak için kullanılır",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaxNumberRequest"
              },
              "examples": {
                "Örnek": {
                  "value": {
                    "taxNumber": "1234567891",
                    "requestedBy": "12345678901"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Barkodlu Belge İşlemleri"
        ]
      }
    },
    "/document/create/performance-reliability": {
      "post": {
        "summary": "Performans & Güvenilirlik Belgesi Oluşturma",
        "operationId": "post-document-create-performance-reliability",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DocumentModel"
                    },
                    "success": {
                      "type": "boolean",
                      "description": "İşlem durumu."
                    },
                    "statusCode": {
                      "type": "number",
                      "description": "İşlem durum kodu"
                    },
                    "message": {
                      "type": "string",
                      "description": "Varsa işlem durumuna ait mesaj. Hata mesajı vb."
                    }
                  },
                  "required": [
                    "data",
                    "success",
                    "statusCode"
                  ]
                },
                "examples": {
                  "Örnek": {
                    "value": {
                      "id": "26902129-9267-4f4d-8b42-13a5e2599ed6",
                      "code": "TME01-1F03-43E4-4609",
                      "companyName": "AAA MAKİNA SAN. TİC. A. Ş. ",
                      "taxNumber": "1234567890",
                      "documentBody": null,
                      "description": null,
                      "documentTypeId": 5003,
                      "documentTypeText": "Performans ve Güvenilirlik Belgesi",
                      "associationId": "b56947b8-f54d-4e8c-94a5-c8d2265e3045",
                      "associationName": "İstanbul Maden ve Metaller İhracatçı Birlikleri Genel Sekreterliği",
                      "requestedBy": "12345678901",
                      "statusId": 5101,
                      "statusText": "Hazırlanıyor",
                      "createdOn": "2020-11-09T05:58:27.8160316Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "taxNumber": {
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 11,
                    "description": "Belge alınacak firma vergi kimlik numarası"
                  },
                  "associationId": {
                    "type": "string",
                    "description": "Belgenin talep edileceği Genel Sekreterğin Online işlemler id'si. Bkz: Üyelik Sorgulama"
                  },
                  "parPeriod": {
                    "type": "string",
                    "format": "date",
                    "example": "2018-01-01",
                    "description": "Belgenin oluşturulaca dönemin başlangıç tarihi"
                  },
                  "requestedBy": {
                    "type": "string",
                    "description": "Belgeyi talep eden kişinin T.C. Kimlik numarası"
                  }
                },
                "required": [
                  "taxNumber",
                  "associationId",
                  "parPeriod"
                ]
              },
              "examples": {
                "Örnek": {
                  "value": {
                    "taxNumber": "1234567890",
                    "associationId": "b56947b8-f54d-4e8c-94a5-c8d2265e3045",
                    "parPeriod": "2018-11-01",
                    "requestedBy": "12345678901"
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "companyName",
                      "taxNumber",
                      "documentTypeId",
                      "documentTypeText",
                      "requestedBy",
                      "statusId",
                      "statusText"
                    ],
                    "properties": {
                      "id": {
                        "type": "string",
                        "minLength": 1
                      },
                      "code": {
                        "type": "string",
                        "minLength": 1
                      },
                      "companyName": {
                        "type": "string",
                        "minLength": 1
                      },
                      "taxNumber": {
                        "type": "string",
                        "minLength": 1
                      },
                      "documentBody": {},
                      "description": {},
                      "documentTypeId": {
                        "type": "number"
                      },
                      "documentTypeText": {
                        "type": "string",
                        "minLength": 1
                      },
                      "requestedBy": {
                        "type": "string",
                        "minLength": 1
                      },
                      "statusId": {
                        "type": "number"
                      },
                      "statusText": {
                        "type": "string",
                        "minLength": 1
                      }
                    }
                  },
                  "success": {
                    "type": "boolean"
                  },
                  "statusCode": {
                    "type": "number"
                  }
                },
                "required": [
                  "data",
                  "success",
                  "statusCode"
                ]
              },
              "examples": {
                "Örnek": {
                  "value": "{\n    \"data\": {\n        \"id\": \"26902129-9267-4f4d-8b42-13a5e2599ed6\",\n        \"code\": \"TME01-1F03-43E4-4608\",\n        \"companyName\": \"AAA MAKİNA SAN. TİC. A. Ş. \",\n        \"taxNumber\": \"4661124647\",\n        \"documentBody\": null,\n        \"description\": null,\n        \"documentTypeId\": 5003,\n        \"documentTypeText\": \"Performans ve Güvenilirlik Belgesi\",\n        \"requestedBy\": \"23267355980\",\n        \"statusId\": 5101,\n        \"statusText\": \"Hazırlanıyor\"\n    },\n    \"success\": true,\n    \"statusCode\": 200\n}"
                }
              }
            }
          },
          "description": ""
        },
        "description": "Bir firma için firmanın üyesi olduğu bir **Genel Sekreterlik**'ten **Performans & Güvenilirlik Belgesi** almak için kullanılır.\n\nBelgenin alınacağı **Genel Sekreterlik** Online İşlemler **`id`** değeri **`associationId`** parametresinde gönderilir. Parametre olarak gönderilen  **`id`** değeri firmanın üyesi olduğu ve belge alabileceği bir genel sekreterlik **`id`** 'si olmalıdır. \n\nFirmanın üyesi olduğu ve belge alma hakkı olan **Genel Sekreterlik** listesi  **Üyelik Sorgulama**  **`/company/memberships`** metodundan alınarak bu listede yer alan bir Genel Sekreterlik **`id`** değeri bu metoda gönderilmelidir\n\nBelgenin ait olduğu dönem **`parPeriod`** parametresinde belirtilecek geçerli tarih değeri ise **Performans ve Güvenilirlik Belgesi Oluşturma Periyot Listesi** metodu sonucundaki listeden birisi olmalıdır.\n\nBu belge, belge oluşturma komutu çağırılduğunda hemen oluşturulmayacaktır. Belgenin oluşturulması zaman aldığı için bu belge oluşturma işlemi sıraya alınarak sunucu tarafında oluşturulur. Bu nedenle sonuçta gelen documentBody parametresi her zaman boş olacaktır. Belgenin oluşturulma işleminin tamamlanıp tamamlanmadığına **Performans & Güvenilirlik Belgesi Listeleme** metodundan gelen sonuç listesin bakabilirsiniz.",
        "tags": [
          "Barkodlu Belge İşlemleri"
        ]
      }
    },
    "/documents/performance-reliability": {
      "post": {
        "summary": "Performans ve Güvenilirlik Belgesi Lİstesi",
        "operationId": "post-document-list-performansce-reliability",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "uniqueItems": true,
                      "items": {
                        "$ref": "#/components/schemas/DocumentModel"
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "description": "İşlem durumu"
                    },
                    "statusCode": {
                      "type": "number",
                      "description": "İşlem durum kodu"
                    },
                    "message": {
                      "type": "string",
                      "description": "İşlem durum mesajı"
                    }
                  },
                  "required": [
                    "data",
                    "success",
                    "statusCode"
                  ]
                },
                "examples": {
                  "Örnek": {
                    "value": {
                      "data": [
                        {
                          "id": "26902129-9267-4f4d-8b42-13a5e2599ed6",
                          "code": "TME01-1F03-43E4-4607",
                          "companyName": "AAA MAKİNA SAN. TİC. A. Ş. ",
                          "taxNumber": "1234567890",
                          "description": "Dönem: 01.11.2018 - 31.10.2020",
                          "languageCode": "tr",
                          "languageName": "Türkçe",
                          "statusId": 5110,
                          "statusText": "Oluşturulmuş",
                          "documentTypeId": 5003,
                          "documentTypeText": "Performans ve Güvenilirlik Belgesi",
                          "createdOn": "2020-11-09T05:58:27.8160316Z"
                        },
                        {
                          "id": "26902129-9267-4f4d-8b42-13a5e2599ed7",
                          "code": "TME01-1F03-43E4-4607",
                          "companyName": "AAA MAKİNA SAN. TİC. A. Ş. ",
                          "taxNumber": "1234567890",
                          "description": "Dönem: 01.11.2018 - 31.10.2020",
                          "languageCode": "tr",
                          "languageName": "Türkçe",
                          "statusId": 5100,
                          "statusText": "Hazırlanıyor",
                          "documentTypeId": 5003,
                          "documentTypeText": "Performans ve Güvenilirlik Belgesi",
                          "createdOn": "2020-11-09T05:58:27.8160316Z"
                        }
                      ],
                      "success": true,
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "description": "Kullanıcı tarafından belirli bir firma için oluşturulmuş **Performans ve Güvenilirlik Belgesi** listesini almak için kullanılır.",
        "tags": [
          "Barkodlu Belge İşlemleri"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaxNumberRequest"
              },
              "examples": {
                "Örnek": {
                  "value": {
                    "taxNumber": "1234567891",
                    "requestedBy": "12345678901"
                  }
                }
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/document/performance-reliability/periods": {
      "get": {
        "summary": "Performans ve Güvenilirlik Belgesi Oluşturma Periyot Listesi",
        "tags": [
          "Barkodlu Belge İşlemleri"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Değer (metoda bu değer gönderilmelidir) ISO 8601 formatında tarih değeridir",
                            "format": "date"
                          },
                          "text": {
                            "type": "string",
                            "description": "Kullanıcıya listede gösterliecek metin"
                          }
                        },
                        "required": [
                          "value",
                          "text"
                        ]
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "description": "İşlem durumu"
                    },
                    "statusCode": {
                      "type": "number",
                      "description": "İşlem durum kodu"
                    }
                  },
                  "required": [
                    "data",
                    "success",
                    "statusCode"
                  ]
                },
                "examples": {
                  "Örnek": {
                    "value": {
                      "data": [
                        {
                          "value": "2018-11-01",
                          "text": "01 Kasım 2018 - 01 Kasım 2020"
                        },
                        {
                          "value": "2018-10-01",
                          "text": "01 Ekim 2018 - 01 Ekim 2020"
                        },
                        {
                          "value": "2018-09-01",
                          "text": "01 Eylül 2018 - 01 Eylül 2020"
                        }
                      ],
                      "success": true,
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "operationId": "get-document-par-periods",
        "description": "PErformans ve Güvenilirlik belgesi oluşturulma işleminde gönderilebilecek belgenin oluşturulacağı dönemlere ait listeyi almak için kullanılır. "
      },
      "parameters": []
    },
    "/documents/membership-info/language-list": {
      "get": {
        "summary": "Üye Bilgi Yazısı Dil Listesi",
        "tags": [
          "Barkodlu Belge İşlemleri"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "ISO2 dil kodu",
                            "maxLength": 2,
                            "minLength": 2
                          },
                          "text": {
                            "type": "string",
                            "description": "Dil adı"
                          }
                        },
                        "required": [
                          "value",
                          "text"
                        ]
                      }
                    },
                    "success": {
                      "type": "boolean"
                    },
                    "statusCode": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "data",
                    "success",
                    "statusCode"
                  ]
                },
                "examples": {
                  "Örnek": {
                    "value": {
                      "data": [
                        {
                          "value": "de",
                          "text": "Almanca"
                        },
                        {
                          "value": "ar",
                          "text": "Arapça"
                        },
                        {
                          "value": "zh",
                          "text": "Çince"
                        },
                        {
                          "value": "fr",
                          "text": "Fransızca"
                        },
                        {
                          "value": "en",
                          "text": "İngilizce"
                        },
                        {
                          "value": "es",
                          "text": "İspanyolca"
                        },
                        {
                          "value": "it",
                          "text": "İtalyanca"
                        },
                        {
                          "value": "ja",
                          "text": "Japonca"
                        },
                        {
                          "value": "ru",
                          "text": "Rusça"
                        },
                        {
                          "value": "tr",
                          "text": "Türkçe"
                        }
                      ],
                      "success": true,
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-documents-membership-info-language-list"
      }
    }
  },
  "components": {
    "schemas": {
      "ApiResult": {
        "title": "ApiResult",
        "type": "object",
        "x-examples": {
          "Örnek Başarılı İşlem Sonucu": {
            "succes": true,
            "statusCode": 200,
            "message": "İşlem başarılı",
            "data": null
          },
          "Örnek Hatalı İşlem Sonucu": {
            "succes": false,
            "statusCode": 500,
            "message": "şlem gerçekleştirilirken bir hata oluştu"
          }
        },
        "description": "Tüm API metotlarından dönen jenerik veri modeli. API metoduna göre data parametresinde yer alan veri modeli değişiklik göstermektedir",
        "properties": {
          "succes": {
            "type": "boolean",
            "description": "İşlemin başarılı olup olmadığını belirtir. true ise işlem başarılı false işe işlem gerçekleştirilirken bir hata oluştuğunu belirtir"
          },
          "statusCode": {
            "type": "integer",
            "description": "İşlem durumu kodu"
          },
          "message": {
            "type": "string",
            "description": "İşlem sonucu mesajı. Var ise hata mesajları da burada verilmektedir"
          },
          "data": {
            "description": "İşlem sonucunda geri dönecek bir nesne var ise data parametresinde yer alacaktır"
          }
        },
        "required": [
          "succes",
          "statusCode"
        ]
      },
      "MembershipDescription": {
        "description": "Fİrmanın birlik üyeliği hankkındaki bilgileri içeren veri modelidir",
        "type": "object",
        "title": "Üyelik Bilgisi",
        "properties": {
          "registrationNumber": {
            "type": "integer",
            "description": "Üye sicil numarası"
          },
          "registrationDate": {
            "type": "string",
            "description": "Üyelik başlangıç tarihi"
          },
          "associationId": {
            "type": "string",
            "description": "Birlik ya da Genel Sekreterliğn Online İşlemler Id'si"
          },
          "associationName": {
            "type": "string",
            "description": "Birlik ya da Genel Sekreterlik adı"
          }
        },
        "required": [
          "registrationNumber",
          "registrationDate",
          "associationId",
          "associationName"
        ]
      },
      "TaxNumberRequest": {
        "description": "",
        "type": "object",
        "x-examples": {
          "Örnek": {
            "taxNumber": "1234567890",
            "tckn": "12345678901"
          }
        },
        "title": "Firma Vergi Numarası Sorgu Modeli",
        "properties": {
          "taxNumber": {
            "type": "string",
            "description": "Sorgulanacak firmaya ait vergi ya da T.C. Kimlik numarası",
            "minLength": 10,
            "maxLength": 11,
            "example": "1234567891"
          },
          "requestedBy": {
            "type": "string",
            "description": "Sorguyu yapan kullanıcının T.C. Kimlik numarası"
          }
        },
        "required": [
          "taxNumber"
        ]
      },
      "CreateDocumentResponseModel": {
        "title": "Barkodlu Belge Oluşturma Sonucu",
        "type": "object",
        "description": "Belge oluşturma sonucundan geri dönen veri modelidir. Eğer senkron işlem yapılıyor ise belge documentBody parametresi içerisinde base64 olarak yer alır. ",
        "properties": {
          "data": {
            "type": "object",
            "description": "Oluşturulan belge detayı",
            "properties": {
              "id": {
                "type": "string",
                "description": "Belge Id"
              },
              "code": {
                "type": "string",
                "description": "Belge kodu (barkod)"
              },
              "companyName": {
                "type": "string",
                "description": "Belgenin düzenlendiği firma unvanı"
              },
              "taxNumber": {
                "type": "string",
                "description": "Belgenin düzenlendiği firmanın vergi kimlik numarası"
              },
              "documentBody": {
                "type": "string",
                "description": "Belge içeriği"
              },
              "description": {
                "type": "string",
                "description": "Varsa belge ile ilgili açıklama - ek bilgi"
              },
              "documentTypeId": {
                "type": "number",
                "description": "Belge türü kodu"
              },
              "documentTypeText": {
                "type": "string",
                "description": "Belge türü"
              },
              "statusId": {
                "type": "number",
                "description": "Belge oluşturulma durum kodu"
              },
              "statusText": {
                "type": "string",
                "description": "Belge oluşturulma durumu"
              }
            },
            "required": [
              "id",
              "code",
              "companyName",
              "taxNumber",
              "documentTypeId",
              "documentTypeText",
              "statusId",
              "statusText"
            ]
          },
          "success": {
            "type": "boolean",
            "description": "İşlem başarılı mı?"
          },
          "statusCode": {
            "type": "number",
            "description": "İşlem durum kodu"
          }
        }
      },
      "CreateMembershipInfoDocumentRequestModel": {
        "title": "Barkodlu Belge Oluşturma Talebi",
        "type": "object",
        "description": "Barkodlu bir belge oluşturulurken gönderilen parametreleri içerir. Her belge için fakrlı parametre",
        "properties": {
          "requestedBy": {
            "type": "string",
            "minLength": 11,
            "description": "İşlemi yapan kullanıcının T.C. Kimlik numarası"
          },
          "taxNumber": {
            "type": "string",
            "minLength": 1,
            "description": "Belgesi oluşturulacak firmanın vergi kimlik numarası"
          },
          "associationId": {
            "type": "string",
            "minLength": 1,
            "description": "Belgenin talep edildiği Birliğe ait Guid tipinde Online işlemler id'si. Bkz: Üyelik Sorgulama"
          },
          "lang": {
            "type": "string",
            "minLength": 2,
            "description": "ISO2 formatında belgenin alınacağı dil",
            "enum": [
              "ar",
              "de",
              "en",
              "es",
              "fr",
              "it",
              "ja",
              "ru",
              "tr",
              "zh"
            ],
            "example": "tr",
            "maxLength": 2
          }
        }
      },
      "DocumentModel": {
        "description": "",
        "type": "object",
        "x-examples": {
          "Yeni Oluşturulmuş Belge": {
            "id": "26902129-9267-4f4d-8b42-13a5e2599ed6",
            "code": "TME01-1F03-43E4-4609",
            "companyName": "AAA MAKİNA SAN. TİC. A. Ş. ",
            "taxNumber": "1234567890",
            "documentBody": null,
            "description": null,
            "documentTypeId": 5003,
            "documentTypeText": "Performans ve Güvenilirlik Belgesi",
            "associationId": "b56947b8-f54d-4e8c-94a5-c8d2265e3045",
            "associationName": "İstanbul Maden ve Metaller İhracatçı Birlikleri Genel Sekreterliği",
            "requestedBy": "12345678901",
            "statusId": 5101,
            "statusText": "Hazırlanıyor",
            "createdOn": "2020-11-09T05:58:27.8160316Z"
          },
          "Oluşturulmuş Belge": {
            "id": "26902129-9267-4f4d-8b42-13a5e2599ed6",
            "code": "TME01-1F03-43E4-4609",
            "companyName": "AAA MAKİNA SAN. TİC. A. Ş. ",
            "taxNumber": "1234567890",
            "documentBody": null,
            "description": null,
            "documentTypeId": 5003,
            "documentTypeText": "Performans ve Güvenilirlik Belgesi",
            "requestedBy": "12345678901",
            "statusId": 5101,
            "statusText": "Hazırlanıyor"
          },
          "Performans ve Güvenilirlik Belgesi": {
            "id": "26902129-9267-4f4d-8b42-13a5e2599ed6",
            "code": "TME01-1F03-43E4-4607",
            "companyName": "AAA MAKİNA SAN. TİC. A. Ş. ",
            "taxNumber": "1234567890",
            "description": "Dönem: 01.11.2018 - 31.10.2020",
            "documentTypeId": 5003,
            "documentTypeText": "Performans ve Güvenilirlik Belgesi",
            "statusId": 5110,
            "statusText": "Oluşturulmuş",
            "associationId": "b56947b8-f54d-4e8c-94a5-c8d2265e3045",
            "associationName": "İstanbul Maden ve Metaller İhracatçı Birlikleri Genel Sekreterliği",
            "languageCode": "tr",
            "languageName": "Türkçe",
            "createdOn": "2020-11-09T05:58:27.8160316Z"
          }
        },
        "title": "Barkodlu Belge Modeli",
        "properties": {
          "id": {
            "type": "string",
            "description": "Belge Id"
          },
          "code": {
            "type": "string",
            "description": "Belge kodu"
          },
          "companyName": {
            "type": "string",
            "description": "Belgenin düzenlendiği firma unvanı"
          },
          "taxNumber": {
            "type": "string",
            "description": "Belgenin düzenlendiği firma vergi kimlik no"
          },
          "documentBody": {
            "description": "Base64 formatında belge içeriği. Eğer belge henüz oluşturulmamış ise bu alan boş olacaktır"
          },
          "description": {
            "description": "Belge ile ilgili ek açıklama içerir\n\n- Performans & Güvenilirlik Belgesi için bu alanda belgenin dönemi yer alır\n- Üye Bilgi Yazısı Belgesi için bu alanda belge dili ve belgenin alındığı İhracatçı Birliği adı yer alır."
          },
          "documentTypeId": {
            "type": "integer",
            "description": "Belge tipi kodu"
          },
          "documentTypeText": {
            "type": "string",
            "description": "Belge tipi adı"
          },
          "requestedBy": {
            "type": "string"
          },
          "statusId": {
            "type": "integer",
            "description": "Belge durum kodu"
          },
          "statusText": {
            "type": "string",
            "description": "Belge oluşturma durumu"
          },
          "memberOf": {
            "type": "array",
            "description": "Üyelik Belgesi ise firmanın belge oluşturulurken üyesi olduğu birliklerin listesini içerir",
            "items": {
              "type": "object",
              "properties": {
                "registrationNumber": {
                  "type": "integer",
                  "description": "Sicil numarası"
                },
                "registrationDate": {
                  "type": "string",
                  "description": "Üyelik başlangıç tarihi"
                },
                "associationId": {
                  "type": "string",
                  "description": "Guid veri tipinde Birliğin Online İşlemler Id'si"
                },
                "associationName": {
                  "type": "string",
                  "description": "Birlik adı"
                }
              }
            }
          },
          "expireDate": {
            "type": "string",
            "description": "Üye Bilgi yazısı türündeki belgelerde ISO8601 formatında belgenin geçerlik tarihini içerir",
            "format": "date"
          },
          "registrationNumber": {
            "type": "integer",
            "description": "Belge üye bilgi yazısı ise firmanın belgenin talep edildiği birlikteki sicil numarası"
          },
          "associationId": {
            "type": "string",
            "description": "Eğer belge tipi **Üye Bilgi Yazısı** ise belgenin talep edildiği birliğin Online İşlemler Id'sini, belge **Performans ve Güvenilirlik Belgesi** ise belgenin talep ediliği Genel Sekreterliğin Guid veri tipinde Online İşlemler Id'sini içerir. "
          },
          "associationName": {
            "type": "string",
            "description": "Eğer belge tipi **Üye Bilgi Yazısı** ise belgenin talep edildiği birliğin adını, belge **Performans ve Güvenilirlik Belgesi** ise belgenin talep ediliği Genel Sekreterlik adını içerir. "
          },
          "languageCode": {
            "type": "string",
            "description": "Belgenin oluşturulduğu dilin ISO2 kodu"
          },
          "languageName": {
            "type": "string",
            "description": "Belgenin oluşturulduğu dilin adı"
          },
          "createdOn": {
            "type": "string",
            "description": "IS08601 formatında belge oluşturulma tarihi",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "code",
          "companyName",
          "taxNumber",
          "documentTypeId",
          "documentTypeText",
          "requestedBy",
          "statusId",
          "statusText",
          "createdOn"
        ]
      }
    },
    "securitySchemes": {
      "X-Api-Key": {
        "type": "apiKey",
        "in": "header",
        "description": "Tüm taleplerde X-Api-Key header içerisinde size sağlanan API key kullanılmalıdır",
        "name": "Api Key"
      }
    }
  },
  "security": [
    {
      "X-Api-Key": []
    }
  ]
}